* {
    text-align: center;
    margin: 0;
    background-color: pink;
    font-size: 25px;
}

header {
    font-size: 40px;
} 

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 150px;
    height: 150px;
}

.code-exampl {
    border: 2px solid black;
    margin: 2% 20%;
    padding-right: 55%;
}

ul {
    display: inline-block;
}

